.countriesTablePanel{
    padding: 10px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,0.2);
}

.tableHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 20px;
}

.tableHeader span{
    font-size: 24px;
    font-weight: 500;
    color: #202124
}

.searchBox{
    width: 200px;
    border: none;
    border-bottom: 1px solid #c2c2c2;;
    padding: 4px 2px 4px;
    font-size: 16px;
    outline: 0;
    overflow: visible;
    transition: box-shadow .34s ease-in-out ;
}

.searchBox:hover{
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.795);
}

.table {
    max-height: 600px;
    overflow: auto;
}

.table table{
    display: table;
    border-collapse: collapse;
    margin-right: 10px;
}

.table table thead{
    display: table-header-group;
    vertical-align: middle;
}

.table table thead tr{
    display: table-row;
    vertical-align: inherit;
}

.table table thead tr th{
    display: table-cell;
    vertical-align: inherit;
    color:#4b5055;
    font-size: 16px;
    text-align: left;
    position: sticky !important;
    background-color: white;
    top: 0;
    padding: 10px 10px 10px;
}

.table table tbody{
    display: table-row-group;
    vertical-align: middle;
}

.table table tbody tr{
    display: table-row;
    vertical-align: inherit;
}


.table table thead tr th:first-child,
.table table tbody tr td:first-child{
    text-align: left;
    min-width: 160px;
}


.table table tbody tr td{
    display: table-cell;
    font-size: 16px;
    text-align: left;
    padding: 10px 10px 10px;
    border-top: 1px solid #e8eaed;
}

.flagimg{
    margin-right: 12px;
}

.table table tbody tr:hover{
    background-color: #e8eaed;
}