.otherSummaryBoxes{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.box{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,0.2);
    border-radius: 6px;
    padding: 10px;
    margin: 0px 0px 20px;
    width: 49%;
    box-sizing: border-box;
}

.column1{
    padding-bottom: 20px;
    border-bottom: 1px solid #c2c2c2;
}

.activeCasesLabel{
    font-size: 25px ;
    color: #4b5055;
}

.activeCasesData{
    font-size: 40px ;
    font-weight: 600;
    padding: 4px 0px 4px;
    color: maroon;
}

.lastUpdate{
    font-size: 14px ;
    color: #4b5055;
}

.column2{
    padding-top: 20px;
}

.item{
    margin-bottom: 20px;
}

.valueRow{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 5px;
    color: #4b5055
}

.bar{
    width: 100%;
    background-color: #d7dce2;
    height: 4px;
    border-radius: 6px;
}

.valueBar{
    height: 4px;
    border-radius: 6px;
}

.data{
    display: flex;
    justify-content: space-between;
    color: #4b5055;
    padding: 5px 0px 5px;
    font-size: 18px;
}

@media (max-width:1024px){

    .otherSummaryBoxes{
        flex-direction: column;
    }

    .box{
        margin: 0px auto 20px;
        width: 100%;
    }
}