.aboutBox{
    width: 100%;
    padding: 60px 60px 0px;
    height: 90vh;
    box-sizing: border-box;
}

.title{
    margin: 10px 0px 20px;
    border-left: 6px solid orangered;
}

.title h3{
    padding-left: 16px;
    font-size: 30px;
    font-weight: 600;
}

.descreption{
    font-size: 16px;
    line-height: 1.4;
}

.sources{
    margin-top: 20px;
}

.sources p a{
    font-weight: 400;
    font-size: 16px;
    border-bottom: 1px solid #4b5055;
    line-height: 1.6;
    color: #4b5055;
}